[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
flake8 = "*"
pytest = "*"
django-countries = "*"
psycopg2-binary = "*"
drf-yasg = "*"
faker = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
celery = "*"
redis = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.8"
